<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title><%= title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.min.js"></script>
</head>
<body>
    <%include top.html%>
    <div class="container">
        <main class="main">
            <section class="intro">
                <% if (result =="" || result ==null) {for(var i in articleDetails) {%>
                <article class="details">
                    <h2><%- articleDetails[i].artcTitle%></h2>
                    <h5>作者：<span><%- articleDetails[i].name%></span>&nbsp;&nbsp;&nbsp;&nbsp;发表时间：<span><%- articleDetails[i].updateTime%></span></h5>
                    <section class="content"><%- articleDetails[i].content%></section>
                </article>
                <% }}  else{%>
                <div class="tips mainCont"><%= result%></div>
                <% } %>
            </section>
        </main>
    </div> 
    <%include bottom.html%>
</body>
</html>
<script src="/javascripts/webpage.js"></script>